<h1>Configuración del Juego</h1>
<form method="POST" action="/jugar">
<label>Palabra Secreta</label>
<input type="text" name="palabraSecreta">
<input type="submit" value="Jugar">

<div id="mensaje"></div>
</form>